<p><b>Julia Carroll</b> - Head Teacher</p>  

<p>Julia is the Head Teacher of Julala's Tuition. She has held various positions at educational institutions including the Music Learning Centre, Academy of Information Technology, International School of Music, St Francis of Assisi Regional Primary School and Malabar Public School.</p>

<p>Julia has formal qualifications in ANZCA and AMEB practical and theory examinations, a Bachelor of Asian Studies (Japanese) and has also studied secondary education at university. She has trained under such personalities as Ros Thrift and Evana Bevan. Julia brings all of her experience, skills and a superior passion for teaching to Julala's Tuition in order to provide the highest quality tuition for her students.</p>

<p>In recent years Julia has recorded an album of original and unique piano music. She was shortlisted in the 2011 APRA/AMCOS Professional Development Awards and has been gaining attention from various community radio stations for her wonderful whimsical sounds. Please click the album icon to the right if you would like to sample some of Julala’s most recent works.</p>
