<table>
  <tr>
    <td>April-May:</td>
    <td>AMEB Piano Examinations</td>
  </tr>
  <tr>
    <td>June:</td>
    <td>Winter Piano Recital</td>
  </tr>
  <tr>
    <td>August:</td>
    <td>AMEB Theory Examinations</td>
  </tr>
  <tr>
    <td>August-September:</td>
    <td>AMEB Piano Examinations</td>
  </tr>
  <tr>
    <td>December:</td>
    <td>Christmas Piano Recital</td>
  </tr>
</table>

  
     
   
 
   
