<div class="white-box">

  <p>
    <b>Postal Address</b><br>
    Julala's Tuition<br>  
    PO Box 231<br>
    North Ryde BC NSW 1670
  </p>


  <p><b>Email</b><br>
  Head Teacher - Julia Carroll (<a href="mailto:info@julalastuition.com.au">info@julalastuition.com.au)</a></p>

  <p><b>Web</b><br>
  <a href="http://www.julalastuition.com.au">www.julalastuition.com.au</a></p>

</div>
