<div style="width:645px; margin: 0; padding: 0; display: inline-block;">
  <a class="tuition-link" href="/music">
    <div class="tuition">
      <img class="image" src="http://s27.postimg.org/ucpf9u7ur/piano_small.jpg" alt="piano"
      ><div class="tuition-text">
        <h2>Music Tuition</h2>
        <p>Private and group piano and guitar lessons for students of all ages.</p>
      </div> <!-- tuition-text -->
    </div> <!-- tuition -->
  </a>

  <a class="tuition-link" href="/japanese">
    <div class="tuition">
      <img class="image" src="http://s7.postimg.org/hmmcqx67f/ilovejapan_small.jpg" alt="japanese"
      ><div class="tuition-text">
        <h2>Japanese Tuition</h2>
        <p>Private and group Japanese language lessons for students of all ages.</p>
      </div> <!-- tuition-text -->
    </div> <!-- tuition -->
  </a>
</div

><div class="album" style="padding-left:10px">
  <img src="http://s17.postimg.org/c4lw4a9q7/methodejulalacover.jpg" alt="methodejulala">
  <p>Listen to Julala's innaugural album release</p>
</div>

<div class="enrollments">
  <h2>Enrolments for 2012 are now closed.</h2>

  <p>To register for Julala's Tuition standby list, please email us with your details, your children's details and your contact information.</p>

  <p>Email: <a href="mailto:info@julalastuition.com.au">info@julalastuition.com.au</a></p>

  <p>Post: Suite 21, 68 Dalmeny Avenue, Rosebery NSW 2018</p>
</div>