<div style="width:645px; margin: 0; padding: 0; display: inline-block;">
  <a class="tuition-link" href="/music">
    <div class="tuition">
      <img class="image" src="http://s27.postimg.org/ucpf9u7ur/piano_small.jpg" alt="piano"
      ><div class="tuition-text">
        <h2>Music Tuition</h2>
        <p>Private and group piano and guitar lessons for students of all ages.</p>
      </div> <!-- tuition-text -->
    </div> <!-- tuition -->
  </a>

  <a class="tuition-link" href="/japanese">
    <div class="tuition">
      <img class="image" src="http://s7.postimg.org/hmmcqx67f/ilovejapan_small.jpg" alt="japanese"
      ><div class="tuition-text">
        <h2>Japanese Tuition</h2>
        <p>Private and group Japanese language lessons for students of all ages.</p>
      </div> <!-- tuition-text -->
    </div> <!-- tuition -->
  </a>
</div

><div class="album">
  <img src="http://s17.postimg.org/c4lw4a9q7/methodejulalacover.jpg" alt="methodejulala">
  <p>Listen to Julala's innaugural album release</p>
</div>