

<div class="tuition-wrapper">
  <div class="welcome pad-btm"><span>Welcome to Julala's tuition!</span><br>We provide Piano and Japanese tuition in the Sydney Area</div>

  <a class="tuition-link" href="/music">
    <div class="tuition pad-btm">
      <img class="image" src="http://s27.postimg.org/ucpf9u7ur/piano_small.jpg" alt="piano"
      ><div class="tuition-text">
        <h2>Music Tuition</h2>
        <p>Private and group piano and guitar lessons for students of all ages.</p>
      </div> <!-- tuition-text -->
    </div> <!-- tuition -->
  </a>

  <a class="tuition-link" href="/japanese">
    <div class="tuition">
      <img class="image" src="http://s7.postimg.org/hmmcqx67f/ilovejapan_small.jpg" alt="japanese"
      ><div class="tuition-text">
        <h2>Japanese Tuition</h2>
        <p>Private and group Japanese language lessons for students of all ages.</p>
      </div> <!-- tuition-text -->
    </div> <!-- tuition -->
  </a>
</div

><a href="http://www.methodejulala.com/" target="_blank"
><div class="album">
    <img src="http://s17.postimg.org/c4lw4a9q7/methodejulalacover.jpg" alt="methodejulala">
    <p>Listen to Julala's innaugural album release</p>
  </div>
</a>