<div class="white-box">

  <p>Learning languages is a fun and rewarding way to learn about other cultures and enrich our lives beyond what we already know and experience on a daily basis. Learning a second or third language improves our understanding of our native language and allows us to realise things about our own culture that we may not have recognised before. When learning the Japanese language in particular, we clearly appreciate how language is used to communicate in different social settings such as communicating with friends, co-workers, employers, customers/clients and family. More interestingly, it is also said that knowing two or more languages decreases your chance of developing mental illness like Alzheimer’s later in life – bonus!</p>

  <p>At Julala's Tuition, learning Japanese is both enjoyable and practical as we cater for those who wish to learn for leisure and for those studying at primary, secondary and tertiary levels. Lessons are executed using a variety of materials and often make use of multimedia activities, games, role-plays and the like.</p>

  <p>Julia, our Director, studied Japanese at the Australian National University in Canberra and received her bachelor degree in Asian Studies in 2003. Since then, she has taught both privately and in secondary schools, helping a variety of students gain outstanding results at school and become proficient in conversational Japanese.</p>

  <p>If you are having trouble with any aspect of the Japanese language as you study for your HSC or at university, Julia can help you clearly understand all grammar and kanji so you can achieve the best possible marks for your Japanese course – it’s actually really easy!</p>

  <p>Lessons are available to be conducted within your home, in our St Ives studio or through Skype. Below is a list of our lesson fees for Japanese:</p>

  <ul>
    <li> Private one-on-one tuition:
      <ul>
        <li>$50 for 60 minutes (in studio and using Skype)</li>
        <li>$60 for 60 minutes (in your home)</li>
      </ul>
    </li>
    <li> Group tuition:
      <ul>
        <li>$30 each student for 60 minutes (2 or more students)</li>
      </ul>
    </li>
  </ul>

  <p>If you have any questions or enquiries, you can contact Julala's Tuition on the following:</p>

  <ul>
    <li>Email: <a href="mailto:info@julalastuition.com.au">info@julalastuition.com.au</a></li>
  </ul>

</div>