<p>Julala's Tuition provides high quality piano and theory lessons incorporating a variety of activities which stimulate and motivate each student’s aspiration for learning. Lessons include a variety of activities such as rhythm reading, sight reading, aural exercises, repertoire development, performance training and music theory – all of which encourage the development of a well-rounded musician.</p>

<p>Learning music has a number of benefits and is a fun and rewarding activity. Playing a musical instrument is a magnificent skill to have and it has the ability to make significant improvements relating to memory, learning and social interactions.</p>

<p>Music lessons at Julala’s Tuition are often complimented with further fortnightly, monthly or holiday group theory classes. These classes offer an even more fun and social learning environment in which games, trivia, and reward-based study incentives are utilised to encourage even more motivation from our students. For the more serious learner we use these sessions to prepare for examinations. Please email us if you would like further information about the theory component of your child’s piano study.</p>

<p>Each year we hold at least one piano recital for students to gain performance experience. Not only does this give parents and family the opportunity to see their child perform what they’ve been learning and practicing over a period of time, it also helps develop more confidence and can be a great practice run for those taking exams.</p>

<p>At Julala's Tuition we cater for each student individually and offer our greatest assistance to be sure that each learner is able to reach their goals to the best of their ability.</p>

<p>Piano lessons are usually once a week for 30 minutes at Malabar, Paddington or St Ives. Taking lessons within your home is also an option however availability is extremely limited. Please find our fee schedule below.</p>

<ul>
  <li>Private one-on-one piano tuition
    <ul>
      <li>$35 for 30 minutes</li>
      <li>$52 for 45 minutes</li>
      <li>$70 for 60 minutes</li>
    </ul>
  </li>
  <li>In home lesson (limited availability)
    <ul>
      <li>$45 for 30 minutes</li>
      <li>$62 for 45 minutes </li>
      <li>$80 for 60 minutes</li>
    </ul>
  </li>
</ul>

<p>Julala's Tuition follows the NSW school term dates and can offer you flexibility in your scheduling when you need it. Unlike other tuition services, we do not charge you the full lesson fee if you are unable to make it to a lesson. If you are unable to attend a scheduled lesson, we will do our best to offer you an alternate time slot or a make-up lesson at a time convenient for both tutor and student. If we are unable to assist you in making up your missed lesson, we keep your lesson fee as a credit for you to use within 3 months.</p>

<p>Find out more information about Julala by clicking here.</p>

<p>If you have any questions or enquiries, you can contact Julala's Tuition on the following:</p>

<ul>
  <li>Email: <a href="mailto:info@julalastuition.com.au">info@julalastuition.com.au</a></li>
</ul>
