/* http://colorschemedesigner.com/#3R11TqVu-w0w0 */

body {
  background-color: #5E75D4;
}

#container {
  max-width: 960px;
  margin: 20px auto;
  background-color: white;
  border: 5px solid #38467B;
}

h1 {
  margin: 0;
  padding: 15px 0;
  text-align: center;
  background-color: #0E216D;
  color: white;
  /*font-family: ‘Metrophobic’, Arial, serif; font-weight: 400; }*/
}

#content{
  padding: 10px;
  /*box-shadow: 2px 2px 5px rgb(0,0,0,0.2);*/
}

nav {
  background-color: black;
}

nav a {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  color: white;
}

nav a:hover {
  color: #7D8ED4;
}

p.legal {
  text-align: center;
  font-size: 9px;
}

/* HOME PAGE */
div.enrollments {
  border: 3px solid green;
  text-align: center;
}